h1{
    color: coral; 
    text-align: center;
    }
    #total{
        width: 1000px;
        height: auto;
        margin: auto;
    }
    #topo{
        width: 1000px;
        height: 100px;
        background-color: forestgreen;

    }
    